<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <connectionStrings>
    <add name="DBCS" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=TMSdb; Integrated security=true" />
   
  </connectionStrings>
	
	<appSettings>
		
	</appSettings>
	
  <system.web>

	  <compilation debug="true" targetFramework="4.5">
	  </compilation>    
  </system.web>
	
</configuration>